* {
	font-family: 'Open Sans', sans-serif;

	margin:  0;
	padding: 0;
	box-sizing:  border-box;
}

.nav-logo {
	background-color: white;
	margin-left: 60px;
	float: left;
}

nav {
	background-color: white;
	padding: 5px;
	width: 100%;
	position: sticky;
	top: 0px;
}

li {
	list-style-type: none;
	display: inline;
	font-size: 15px;
	padding-right: 25px;
}

.right-nav {
	text-align: right;
	margin-right: 60px;
	height: 50px;
	font-weight: bold;

}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
	border: none;
	border-radius: 50px;
	display: inline;
	text-align: center;
	width: 8rem;
}

.background {
	margin-top: 50px;
	min-height: 60vh;
}

.front-bg {
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 60vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	text-align: right;
	margin-right: 50px;
}

h1 {
	font-family: Zilla Slab;
	font-size: 50px;
	color: white;
	margin-right: 50px;
	margin-left: 60%;
	text-align: right;
}

.subtitle {
	text-align: right;
	font-size: 15px;
	font-weight: 33;
	color: white;
	margin-right: 50px;
	margin-top: 50px;
	margin-left: 70%;
	word-spacing: 5px;

}

.apply-button {
	background-color: #c2195b;
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 50px;
	margin-right: 50px;
	padding: 7px;
	border: none;
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	width: 10rem;
}

.intro {
	margin-top: 30px;
	margin-bottom: 90px;
	padding: 100px;
}

.title-2 {
	font-family: Zilla Slab;
	text-align: center;
	margin: 10px;
	padding: 10px;
	font-weight: bold;
}

.intro-description {
	position:  relative;
	margin: 40px;
	padding: 20px;
	margin-left: 150px;
	margin-right: 150px;
}

.pre-footer {
	background-color: whitesmoke;
	position:  relative;
	margin-top: 70px;
	padding: 150px;
	text-align: center;
}


.book-button {
	background-color: #336589;
	color: white;
	text-decoration: none;
	font-weight: bold;
	margin-top: 5px;
	padding: 5px;
	border: none;
	border-radius: 50px;
	display: inline-block;
	text-align: center;
	width: 8rem;
	align-content: center;
}

footer {
	text-align: center;
	font-size: 13px;
}